/* Arkpad Core Extension Styles */
@import "prosemirror-view/style/prosemirror.css";
@import "./tokens.css";

/* Base Elements */
@import "./headings.css";
@import "./list.css";

@import "./blockquote.css";
@import "./code-block.css";

/* Advanced Extensions */
@import "./table.css";
@import "./table-grips.css";
@import "./task-list.css";
@import "./ghost-text.css";
@import "./block-handle.css";

/* UI Blocks - Page Builder */
@import "./ui-blocks.css";

/* Placeholder */
@import "./placeholder.css";

/* --- Core Editor Styling --- */
.arkpad-content-area {
    display: block;
    width: 100%;
}

/* Standard Editor Canvas */
.arkpad-editor-canvas {
    padding: 1rem 2rem;
    /* Default p-8 sm:p-12 equivalent */
}

/* Remove default ProseMirror focus outline */
.ProseMirror {
    outline: none !important;
    min-height: inherit;
}