/* List Styles (Bullet & Ordered) - Scoped to Arkpad Content Area */
.arkpad-content-area {
  & ul,
  & ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;
    
    & li p {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    }
  }

  & ul {
    list-style-type: disc;
  }

  & ol {
    list-style-type: decimal;
  }
}
