.tableWrapper {
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
  margin-bottom: var(--ark-table-margin-bottom);
  position: relative;
}

.prose table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  margin: 0;
  overflow: hidden; /* Clip the infinite handles */

  & td,
  & th {
    min-width: 1em;
    border: 1px solid var(--ark-table-border);
    padding: var(--ark-cell-padding);
    vertical-align: top;
    box-sizing: border-box;
    position: relative;
    text-align: left;
  }

  & th {
    font-weight: 600;
    background-color: var(--ark-table-header-bg);
  }

  & .selectedCell:after {
    z-index: 2;
    position: absolute;
    content: "";
    left: 0; right: 0; top: 0; bottom: 0;
    background: var(--ark-table-selected-cell-bg);
    pointer-events: none;
  }

  & .selectedCell {
    box-shadow: inset 0 0 0 var(--ark-table-selection-width) var(--ark-table-selection-color);
    z-index: 10;
  }

  & .column-resize-handle {
    position: absolute;
    right: calc(var(--ark-table-resize-handle-width) / -2);
    top: -1000px;
    bottom: -1000px;
    width: var(--ark-table-resize-handle-width);
    background-color: transparent;
    cursor: col-resize;
    z-index: 20;
    pointer-events: auto;
    transition: background-color 0.1s;
  }

  & .column-resize-handle:hover,
  &.resize-cursor .column-resize-handle {
    background-color: var(--ark-table-resize-handle-color);
  }

  & .resize-cursor {
    cursor: col-resize;
  }

  & .grip-column,
  & .grip-row {
    position: absolute;
    background-color: var(--ark-table-grip-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.1s;

    &:hover {
      background-color: var(--ark-table-grip-color-hover);
    }
  }

  & .grip-column {
    width: calc(100% + 1px);
    left: -1px;
    top: calc(var(--ark-table-grip-size) * -1);
    height: var(--ark-table-grip-size);
    border: 1px solid var(--ark-border);
    border-bottom: none;
  }

  & .grip-row {
    width: var(--ark-table-grip-size);
    left: calc(var(--ark-table-grip-size) * -1);
    top: -1px;
    height: calc(100% + 1px);
    border: 1px solid var(--ark-border);
    border-right: none;
  }
}
